<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Manga Bin Reader Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./backend</directory>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>